@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,
*::after,
*::before {
	padding: 0;
	margin: 0;

	box-sizing: border-box;
	transition: none 400ms cubic-bezier(0, 0.25, 0.5, 1);
}

:root {
	font-family: "Roboto", sans-serif;
	background-color: rgb(17 17 17);
	color: rgb(212 212 212);

	--primary-100: #ffdddd;
	--primary-200: #ffc0c0;
	--primary-300: #ff9494;
	--primary-400: #ff5757;
	--primary-500: #ff2323;
	--primary-600: #ff0000;
	--primary-700: #d70000;
	--primary-800: #b10303;
	--primary-900: #920a0a;
	--primary-950: #500000;

}